<body class="top-page">

<nav class="navbar">
  <div class="container-fluid">
    {# Logo and title #}
    <div class="top-logo">
    {% if config.extra.logo %}
    <a href="{{ home }}" class="navbar-brand">
      <img class="grist-logo" src="{{ base_url }}/{{ config.extra.logo }}"/>
      <div class="grist-title">
        {{ config.site_name }}<br>
        {% if config.extra.version %}
        <span class="grist-version">v{{ config.extra.version }}</span>
      </div>
      {% endif %}
    </a>
    {% endif %}
    </div>

    {# Toolbar with buttons and search #}
    <div class="top-toolbar pull-right">
      <div class="top-tool">
        <div class="btn-toolbar text-nowrap" role="toolbar">
          <div class="btn-group" role="group" aria-label="back">
            <button id="hist-back" type="button" class="btn btn-sm btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
            <button id="hist-fwd" type="button" class="btn btn-sm btn-default"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
          </div>
          <div class="btn-group" role="group" aria-label="side-pane">
            <button id="toc-button" type="button" class="btn btn-sm btn-default"><i class="fa fa-th-list" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="top-tool">
        <div class="input-group input-group-sm top-search">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn" role="search">
            <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>

{# Side-pane with table of contents #}
<div class="main-content">
<nav class="toc-pane">
  {%- block site_nav %}
  <ul class="toctree">
    {% set navlevel = 1 %}
    {% for nav_item in nav %}
        {%- include 'nav-item.html' %}
    {% endfor %}
  </ul>
  {%- endblock %}
</nav>
<div class="content-pane">
  <iframe class="article" name="article"></iframe>
</div>

</body>
